<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="copyright" content="Marina Aisa, 2017">
    <meta name="description" content="Product Designer (UI/UX) for VR / Mobile / Web and Front-End Developer based in Barcelona" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="YCt4O9a-R3y1lj2DJREjpeVZLrZgwF4gSee95T6Q0PI" />
    <title>Marina Aisa — <%= current_page.data.title %></title>
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <%= javascript_include_tag  :aframe_master %>
    <!-- FB -->
    <meta property="og:title" content ="Marina Aisa — <%= current_page.data.title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://marinaaisa.com" />
    <meta property="og:image" content="http://marinaaisa.com/images/fb-banner.jpg" />
    <meta property="og:description" content="Product Designer (UI/UX) for VR / Mobile / Web and Front-End Developer based in Barcelona" />
  </head>
  <body class="<%= current_page.data.body %> <%= current_page.options[:layout] %>">
    <%= yield %>
    <%= javascript_include_tag  :aframe_inspector %>
  </body>
</html>
