<% data.portfolio.each do |s| %>
  <div class="portfolio__item-<%= s.col %>">
    <a href="<%= s.url %>" class="portfolio__thumb-inner">
      <div class="portfolio__thumb-hover" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, <%= s.color %> 70%);">
        <h2 class="portfolio__thumb-description">
          <%= s.des %>
        </h2>
        <h3 class="portfolio__thumb-client">
          Client: <%= s.client %>
        </h3>
      </div>
      <img alt="<%= s.name %>" src="/images/<%= s.img %>.png">
    </a>
    <div class="portfolio__description">
      <%= s.des %>
    </div>
    <div class="portfolio__client">
      <%= s.client %>
    </div>
  </div>
<% end %>