<% data.work_experience.each do |s| %>
<li class="experience__item--<%= s.active %>">
  <div class="experience__time-place">
    <div class="experience__place">
      <%= s.place %>
    </div>
    <div class="experience__time">
      <%= s.starting_time %> - <span class="<%= s.active %>"><%= s.finish_time %></span>
    </div>
  </div>
  <div class="experience__image">
    <img class="img-circle img-responsive" src="images/work-experience/<%= s.image %>.png" alt="<%= s.company %>">
  </div>
  <div class="experience__panel">
    <div class="experience__position">
      <h4><%= s.position %> —
      <a target="_blank" href="<%= s.companyurl %>" class="experience__company ani">
        <span><%= s.company %></span>
      </a>
    </h4>
    </div>
    <div class="experience__description">
      <p>
        <%= s.description %> Here is where <% if s.active %>I'm learning<% else %>I learnt<% end %> <span class="experience__learnt"><%= s.learnt %></span>
      </p>
    </div>
  </div>
</li>
<% end %>
