---
title: Coming Soon 2017
body: home
layout: home
---
<div class="hero" id="hero">
	<div class="hero__content">
    <img src="/images/marina-aisa-photo.png" class="hero__profile" alt="Marina Aisa Picture" />
    <div class="hero__text">
      <h1 id="hero-text"></h1>
    </div>
	</div>
</div>
<div id="portfolio" class="portfolio">
  <div class="portfolio__title">
    <h1>Design Portfolio <any emoji="writing-hand" emoji-tone="light"></any></h1>
  </div>
  <div class="portfolio__content">
    <% data.portfolio.each do |s| %>
      <div href="<%= s.url %>" class="portfolio__item-<%= s.col %>">
        <a class="portfolio__image portfolio__hover-<%= s.name %>">
          <img src="/images/<%= s.img %>.png">
        </a>
        <div class="portfolio__description">
          <%= s.des %>
        </div>
        <div class="portfolio__client">
          <%= s.client %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="call-to-action">
  <div class="call-to-action__content">
    <div class="call-to-action__img xs-hidden">
      <img src="/images/dribbble.png">
    </div>
    <div class="call-to-action__text">
      If you want to check more designs that I have done,
      check my Dribbble.
    </div>
  </div>
</div>
<div class="about" id="about">
  <div class="about__content">
    <div class="about__title">
      <h1>About Marina <any emoji="writing-hand" emoji-tone="light"></any></h1>
    </div>
    <div class="about__text">
      I’m a Product Designer (UI/UX) and Front-End Developer based in Barcelona. I decided to study in Helsinki and I become economically independent when I was 18 working in what I love. I like new technologies as VR or mobile. I design and code as my passion and work, and I travel as my hobby. I fight for empowering women through technology.
    </div>
  </div>
</div>
<div class="experience">
  <div class="experience__container">
    <div class="experience__title">
      <h1>Work Experience <any emoji="woman-technologist"s></any></h1>
    </div>
    <ul class="experience__content">
      <%= partial "partials/work-experience" %>
    </ul>
  </div>
</div>